<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="thumbnail">
            <img class="img-responsive" src="https://images.unsplash.com/photo-1492551557933-34265f7af79e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5f9e7b01025c2911f850db34fae63a8a&auto=format&fit=crop&w=3150&q=80">
            </div>
            <!--<h3 style="text-align: center">Add New Comment</h3>-->
        
            <form action="/profiles/<%= user._id %>/comments" method="POST">
                <p style="font-size:1.5em;">You are posting a new comment as <strong><%= currentUser.username %></strong>
                    
                    <div class="form-group">
                        <!--<input class="form-control" type="text" name="comment[text]" placeholder="text">-->
                        
                        <label for="comment">Comment:</label>
                        <textarea class="form-control" rows="5" id="comment" name="comment[text]"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-success btn-block">Submit</button>
                    </div>
            </form>
      
        </div>
       
        <div class="col-md-3"></div>
    </div>
</div>
<% include ../partials/footer %>

